@page "/"

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        ...to my site based on the <a href="https://www.udemy.com/course/end-to-end-aspnet-core-31-api-and-blazor-development" target="_blank">online course</a> I took from 26 Jul 2025 to 21 Oct 2025. I have developed a Bookstore App and API using .NET 8 (ASP.NET Core Web API, Blazor WebAssembly Standalone App), Docker, <a href="https://github.com/daryusg/" target="_blank">GitHub</a>, then deployed to my Azure App Service.
    </p>
</div>
<div>
    <p>
        SQL Server setup (in the development environment): docker run --name CompleteBlazorAndASPdotNETAPIDev --restart unless-stopped -e 'ACCEPT_EULA=Y' -e 'SA_PASSWORD=Str0ngPa$$w0rd' -p 1449:1433 -d mcr.microsoft.com/mssql/server<br>
    </p>
    <p>
        Developed using c# in Visual Studio Code - kevin dyer
    </p>
    <br>
    <p style="font-size: 0.9em;">
        Enhancements<br>
        Oct 2025:<br>
            &emsp;ToDo.<br>
    </p>
</div>
