@page "/authors/"
@inject IJSRuntime jsRuntime
@inject IAuthorService authorService

<h3>Authors</h3>

@if (!deletionResponse.Success)
{
    <div class="alert alert-danger">
        <h4>@deletionResponse.Message</h4>
    </div>
}

<AuthorizeView Roles="@Roles.Administrator">
    <a class="btn btn-dark mb-3" href="/authors/create">
        <span class="oi oi-plus" aria-hidden="true"></span> Create
    </a>
</AuthorizeView>

<AuthorsTable OnDeleted="DeleteAsync" />

@code {
    private Response<int> deletionResponse = new() { Success = true };

    private async Task DeleteAsync(int id)
    {
        deletionResponse = await authorService.DeleteAsync(id);

        if (deletionResponse.Success)
        {
            await jsRuntime.InvokeVoidAsync("alert", "Author deleted successfully.");
        }
    }
}
